.tracking-identity {
  letter-spacing: 0.25rem !important;
}

.brand-identity {
  font-family: var(--stoosh-font-brand) !important;
  letter-spacing: 0.25rem !important;
  color: var(--stoosh-accent-burnt-orange) !important;
  user-select: none;
}

.spinner-border.text-burnt-orange {
  color: var(--stoosh-accent-burnt-orange) !important;
}